body{
	font-family: "Rammetto One";
	text-align: left;
	background: #DD3A3A;
}
#nav{
	margin-top: 30px;
}
#nav ul{
	display: inline;
	background-color: #fff;
	padding: 10px;
}
#nav ul li{
	display: inline;
	text-align: left;
}
#nav ul li a{
	font-size: 14px;
	color: #555;
	text-decoration: none;
	padding: 3px 5px;
}
#nav ul li a:hover{
	color: #ccccff;
}
